@model btWEB2.Models.Book

@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buy</h2>

<br />
<p style="font-size:20px"> Bạn đã mua sách <strong> @Model.Title</strong>với giá <strong>  @Model.Price</strong> VND</p>

